#cuisine {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  
  #cuisine img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    animation: fadeIn 3s ease-in-out;
  }
  
  #cuisine .center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    text-align: center;
    z-index: 1;
    font-family: 'Satisfy', cursive;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  